@use "../../styles/_variables" as *;
@use "../../styles/_global" as *;

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: $spacing-md;
}
