@use "../../styles/_variables" as *;

.appBar {
  background-color: $color-quaternary !important;
  color: $color-text-secondary !important;
  font-family: $font-primary;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
  text-decoration: none;
  color: $color-text-secondary;
}

.logoImage {
  border-radius: 12px;
  width: 50px;
}

.logoText {
  font-family: $font-primary;
  font-size: $font-size-subtitle;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: $color-text-secondary;
  margin-left: 10px;
}

.userContainer {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
}

.userName {
  font-family: $font-primary;
  font-size: $font-size-body;
  color: $color-text-secondary;
}

.avatar {
  border: 2px solid $color-primary;
}
